<h2>Our Blog</h2>

<div ng-controller="CategoryList">
	<h3>Categories</h3>
	<ul>
		<li ng-repeat="category in categories"><a href="/blog/{{ category.slug }}">{{ category.title }}</a></li>
	</ul>
</div>

<hr />

<div ng-repeat="post in posts">
	<h4><a href="/blog/{{ post.categories[0].slug }}/{{ post.slug }}">{{ post.title }}</a> - {{ post.categories[0].title }}</h4>
	<div ng-bind-html="post.excerpt"></div>
</div>

<a ng-show="prev > 0" href="/blog/page/{{ prev }}">Prev</a> |
Page {{ page }} of {{paging.pages}} | 
<a ng-show="next <= paging.pages" href="/blog/page/{{ next }}">Next</a>