<h1>{{ post.post.title }}</h1>

<p ng-if="post.post.attachments[0].url"><img src="{{ post.post.attachments[0].url }}" /></p>

<p>
	{{ post.post.date }} 
	in 
	<a href="/blog/{{ post.post.categories[0].slug }}">{{ post.post.categories[0].title }}</a>
</p>

<div ng-bind-html="post.post.content"></div>

<div ng-repeat="comment in comments" style="border-bottom:1px solid #999; margin-bottom:40px;">
	<div>
		By <span ng-bind-html="comment.name"></span>
		on <span ng-bind-html="comment.date"></span>
	</div>
	<div ng-bind-html="comment.content"></div>
</div>

<p><a href="/blog">Back to the blog</a></p>